<VirtualHost *:80>
    ServerName localhost
    ProxyPass / http://localhost:5601/
    ProxyPassReverse / http://localhost:5601/
</VirtualHost>

<VirtualHost *:443>
    ServerName localhost

    SSLEngine on
    SSLCertificateFile /etc/elasticsearch/certs/http_ca.crt
    SSLCertificateKeyFile /etc/elasticsearch/certs/http.p12
    SSLProxyEngine on

    ProxyPreserveHost On
    ProxyPass / http://localhost:5601/
    ProxyPassReverse / http://localhost:5601/
</VirtualHost>